@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-primary text-cyan-50 font-Kanit;
    }
}