<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="Application with Authentication through JWT in Go!">
    <link rel="shortcut icon" href="/img/gopher-svgrepo-com.svg" type="image/svg+xml">
    <meta name="google" content="notranslate" />
    <title>{{ .PageTitle }}</title>
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.28/dist/sweetalert2.min.css">
    <script defer src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.28/dist/sweetalert2.all.min.js"></script>
</head>

<body>

    {{embed}}

</body>

</html>