<main>
    <h1 class="text-center text-3xl font-bold mt-36 mb-6">
        {{ .Title }}
    </h1>
    <p class="text-center text-xl text-indigo-700 font-medium mb-6">
        {{ .Subtitle }}
    </p>

    <form class="mt-16 mb-8 w-fit md:w-[400px] mx-auto bg-zinc-800 p-8 rounded-xl flex flex-col gap-4" id="signupForm">
        <input
            class="rounded-md focus:outline-none focus:ring focus:ring-blue-400 w-56 md:w-full text-xl px-4 py-2 bg-slate-700"
            name="name" type="text" placeholder="Enter your name…" autofocus required>
        <input
            class="rounded-md focus:outline-none focus:ring focus:ring-blue-400 w-56 md:w-full text-xl px-4 py-2 bg-slate-700"
            name="email" type="text" placeholder="Enter your email…" required>
        <input
            class="rounded-md focus:outline-none focus:ring focus:ring-blue-400 w-56 md:w-full text-xl px-4 py-2 bg-slate-700"
            name="password" type="password" placeholder="Enter your password…" required>
        <input
            class="rounded-md focus:outline-none focus:ring focus:ring-blue-400 w-56 md:w-full text-xl px-4 py-2 bg-slate-700"
            name="passwordConfirm" type="password" placeholder="Repeat the password…" required>

        <input class="bg-sky-600 hover:bg-sky-400 rounded-md text-xl px-4 py-2" type="submit" value="SignUp">
    </form>

    <a class="text-center text-lg font-semibold text-amber-600 hover:text-amber-400 mx-auto block" href="/">
        Do you already have an account?
    </a>
</main>

{{template "partials/footer" .}}

<script>
    /* Register handling */
    const signupForm = document.getElementById("signupForm");

    signupForm.addEventListener("submit", (e) => {
        e.preventDefault();

        const name = signupForm.elements["name"].value;
        const email = signupForm.elements["email"].value;
        const password = signupForm.elements["password"].value;
        const passwordConfirm = signupForm.elements["passwordConfirm"].value;

        let errors = '';
        const resetForm = () => {
            signupForm.elements["name"].value = "";
            signupForm.elements["email"].value = "";
            signupForm.elements["password"].value = "";
            signupForm.elements["passwordConfirm"].value = "";
            errors = '';
        }

        // Es importante aquí añadir el punto y coma ";"
        // para que JS no se confunda con la función anónima
        // de ejecución inmediata

        (async () => {
            const rawResponse = await fetch('api/auth/register', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ name, email, password, passwordConfirm })
            });
            let content = await rawResponse.json();

            // console.log(content);
            if (`${JSON.stringify(content)}`.includes("SignUpInput.Email")) {
                errors += '<li>▷ Badly formed email!</li>';
            }

            if (`${JSON.stringify(content)}`.includes("SignUpInput.Password")) {
                errors += '<li>▷ The password must be at least 6 characters!</li>';
            }

            if (`${JSON.stringify(content)}`.includes("SignUpInput.PwConfirm")) {
                errors += '<li>▷ The password confirm must be at least 6 characters!</li>';
            }

            if (`${JSON.stringify(content)}`.includes("Passwords do not match")) {
                errors += '<li>▷ Passwords do not match!</li>';
            }

            if (`${JSON.stringify(content)}`.includes("email already exists")) {
                errors += '<li>▷ User with that email already exists!</li>';
            }

            errors.length
                ? Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    html: `<ul style="text-align: start;">${errors}</ul>`,
                })
                : Swal.fire({
                    icon: 'success',
                    title: 'Ok!',
                    html: `<ul style="text-align: start;">
                             <li>You have successfully created an account!</li>
                             <li>Now you can log in if you want…</li>
                           </ul>`,
                });

            resetForm();
        })();
    });

</script>